TalesOfTheArabianNights.xcodeproj/project.xcworkspace/xcuserdata/
TalesOfTheArabianNights.xcodeproj/xcuserdata/critterchick2.xcuserdata/xcdebugger/

TalesOfTheArabianNights.xcodeproj/xcuserdata/critterchick2.xcuserdatad/xcdebugger/

